/multilayer/
/Multilayer2/CIFAR10/
/Multilayer3/CIFAR10/
/QR_density/
/QR_dyn_multisparse/
/QR_dyn_sparse/
/QR_sparse/
/ris_cifar_backup/
/Ris_multi2/F-MNIST/
/Ris_multi_sparse2/F-MNIST/
/RisultatiCIFAR10/
/RisultatiF-MNIST/
/Single_n/RisultatiCIFAR10/
/Sparse/
/2m.g._trainV_cifar.p
/2multi_graph_cifar.p
/backupSSVD.py
/BaseGen.py
/Chicchi.py
/CIFAR10.py
/CIFAR10sparse_acc_dense.p
/CIFAR10sparse_acc_qr.p
/CIFAR_density.p
/cifar_sparse.p
/Cifar_sparso_700.p
/Dense.p
/Dense_cifar.p
/dense_multi_sparse.p
/Dense_sparse.mat
/Dense_sparseIN.mat
/eig_in.mat
/eig_out.mat
/F-MNISTsparse_acc_dense.p
/F-MNISTsparse_acc_qr.p
/fminst_sparse.p
/fmnist_sparse.p
/Functions2Ver.py
/Funzioni.py
/hyper_opt.py
/k_iniz.p
/meta_train.py
/MetaLayer.py
/MetaLayer_cp.py
/mnist_sparse.p
/MNISTsparse_acc_dense.p
/MNISTsparse_acc_qr.p
/Multigraph.py
/NatComm.p
/network_analysis.py
/PerGiamba.py
/plot_functions.py
/plot_functions_linux.py
/QR.p
/qr_multi_sparse.p
/QR_sparse.mat
/QR_sparse.matIN
/QR_sparseIN.mat
/Spectral_full.p
/Spectral_full_cifar.p
/Spectral_out.p
/Spectral_out_cifar.p
/spectral_sparse.py
/spectral_sparse_functions.py
/spectral_sparse_multi.py
/SpectralLayer.py
/SSVD_full.p
/SSVD_full_cifar.p
/test.py
/wave_layer.py
